<!-- IVARS: none -->
<br class="bc_clearfix" />
<div class="bc_step_explanation">
    Let us know when you get your absentee ballot!
</div>
<a href="#" class="bc_button yellow right" onclick="next_status(); return false;"><span>Done</span></a>
<br class="bc_clearfix" />