<h1 align="center">My Achievements</h1>
<table>
	<% 3.times do %>
		<tr>
			<td>
				<%= image_tag('logo.jpg', :size => '100x100') %>
				<h5>A BeCounted Achievement!</h5>
			</td>
			<td>
				<div>
					<h3 align="center">I did something cool!</h3>
					<p>This achievement is because you're a baller! Keep going
					   and you'll get even more baller things to show on your
					   profile!
					</p>
				</div>
			</td>
		</tr>
	<% end %>
</table>
